# =====================
# ESP-IDF ignore list
# =====================

# Build output
build/
sdkconfig.old
sdkconfig

# VSCode settings
.vscode/
.vscode/*
!.vscode/extensions.json

# IDF cache
idf-env.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
project_description.json
project_elf_src.c

# Temporary files
*.log
*.bin
*.elf
*.map
*.pyc
*.pyo
__pycache__/
*.o

# Backup or temp files
*~
*.swp
*.bak
.DS_Store
Thumbs.db

# Python virtual environment
.venv/
venv/
